body
   {
   	background-color: lightgray
   }
p
   {
   	font-family: 'Roboto Mono', monospace;
   	font-size: 20px
   	color: #FAEBD7;
   	background-color: #8FBC8F;
   	border:2px dotted #191970;
   }

h1 {
    font-family: 'Satisfy', cursive;
    font-size: 20px
    color: #FAEBD7;
    background-color: #008B8B;
    border-radius: 20px
   }

h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 15px
    color: #228B22;
    background-color: #808080;
   }

h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 20px
    color: #228B22;
    background-color: #B0C4DE;
   }

